<legend>
	<h3>
		<i class='m-icon-big-swapright'></i>
		<% if @tag.nil? %>
		All my todos
		<% else %>
		<%= "Todos tagged with ##{@tag.join(' and #')}" %>
		<% end %>
	</h3>
</legend>
<%= render 'form' %>
<ul class="tags">
	<li>
		<a class="m-btn mini <%= class_for_tag @tag, nil %>" href="/todos/">All (<%= Todo.undone_tasks.count %>)</a>
	</li>
	<% @tags.each do |t| %>
	<li>
		<a class="m-btn mini <%= class_for_tag @tag, t %>" href="/todos/<%= t %>"><%= "#{t} (#{Todo.undone_tagged_with(t).count})" %></a>
	</li>
	<% end %>
</ul>